apiVersion: apps/v1
kind: Deployment
metadata:
  name: nats
  namespace: task-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nats
  template:
    metadata:
      labels:
        app: nats
    spec:
      containers:
      - name: nats
        image: nats:2.10.7
        command: ["/nats-server", "-js", "--store_dir", "/data/jetstream"]
        volumeMounts:
        - mountPath: /data/jetstream
          name: nats-data
      volumes:
      - name: nats-data
        persistentVolumeClaim:
          claimName: nats-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nats-pvc
  namespace: task-app
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: nats
  namespace: task-app
spec:
  selector:
    app: nats
  ports:
  - port: 4222
    targetPort: 4222
